.about-container {
    background-color: lightblue;
}

.about-container div {
    height: 100vh;
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    border: 1px solid aquamarine
}