.search-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 45px;

}
/* #search-container {
    margin: 0 auto;
    border: 1px solid red;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px auto;
}

#search-form {
    height: 92vh;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

#search-form button {
    max-width: 150px;
}

#search-list {
    min-width: 400px;
} */

@media only screen 
  and (max-width: 600px) {

    .search-list-item {
        width: auto;
        margin: 0;
    }

    .search-list-items {
        padding: 0;
    }

    .search-list-container h3 {
        margin: 0;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}