.search-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 45px;

}
/* #search-container {
    margin: 0 auto;
    border: 1px solid red;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px auto;
}

#search-form {
    height: 92vh;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

#search-form button {
    max-width: 150px;
}

#search-list {
    min-width: 400px;
} */