.article-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-page img {
    max-width: 500px;
}

.description {
    max-width: 50%;
}