.article-page {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 85px 35px;
}

.article-body {
    flex-basis: 60%;
}

.article-page img {
    width: 800px;
}

.article-page p {
    max-width: 800px;
    padding: 20px 0;
}

.article-page h3 {
    padding-top: 5px;
    border-top: 1px solid black;
}

.details {
    flex-basis: 30%;
}

.article-part {
    border-left: 1px solid lightgrey;
    margin-left: 40px;
    padding-left: 30px;
}

.article-step {
    margin: 40px 0 30px 0;
}